{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "prettier/prettier": true,
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  },
  
  "plugins": ["stylelint-prettier"],
}
