/* roboto-condensed-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-condensed-english-cyrillic-300-normal.woff2") format("woff2"),
    url("../fonts/roboto-condensed-english-cyrillic-300-normal.woff") format("woff");
  font-display: swap;
}

/* roboto-condensed-400 - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-english-cyrillic-400-normal.woff2") format("woff2"),
    url("../fonts/roboto-condensed-english-cyrillic-400-normal.woff") format("woff");
  font-display: swap;
}

/* roboto-condensed-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-condensed-english-cyrillic-700-normal.woff2") format("woff2"),
    url("../fonts/roboto-condensed-english-cyrillic-700-normal.woff") format("woff");
  font-display: swap;
}

/* bebas-neue-400 - latin_cyrillic */
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bebas-neue-english-cyrillic-400-normal.woff2") format("woff2"),
    url("../fonts/bebas-neue-english-cyrillic-400-normal.woff") format("woff");
  font-display: swap;
}

/* bebas-neue-700 - latin_cyrillic */
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/bebas-neue-english-cyrillic-700-normal.woff2") format("woff2"),
    url("../fonts/bebas-neue-english-cyrillic-700-normal.woff") format("woff");
  font-display: swap;
}
