html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
