@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-vars.scss';
@import '../../node_modules/swiper/swiper.scss';
@import './vars.scss';
@import './fonts';
@import './visually-hidden';
@import './settings';
@import './components/ui';
@import './components/about';
@import './effects';
@import './components/logo';
@import './components/call';
@import './components/header';
@import './components/gym';
@import './components/_membership';
@import './components/announcement';
@import './components/advantages';
@import './components/promo';
@import './components/promo-card';
@import './components/promo-accidental-card';
@import './components/instructors';
@import './components/reviews';
@import './components/review-card';
@import './components/free-training';
@import './components/contacts';
@import './components/footer';
@import './components/site-nav';
@import './components/social-list';

.layout {
  font: normal 300 16px/1.5 $main-font;
}

.main-section {
  padding: 120px 0;

  @media ($viewport-13) {
    padding: calc(120 * 100vw / 1366) 0;
  }

  @media ($viewport-12) {
    padding: 100px 0;
  }

  @media ($viewport-7) {
    padding: calc(100 * 100vw / 768) 0;
  }

  @media ($viewport-5) {
    padding: 70px 0;
  }
}

.main-section--top {
  padding-top: 0;

  @media ($viewport-13) {
    padding-top: 0;
  }
}

.container {
  max-width: 1160px;
  margin: 0 auto;

  @media ($viewport-13) {
    margin: 0 45px;
  }

  @media ($viewport-7) {
    margin: 0 15px;
  }
}

.swiper-container {
  width: 100%;
  box-sizing: border-box;
}

.slider__container {
  display: flex;
  justify-content: center;
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background: 0 0;
  border: 0;
  cursor: pointer;
  outline: 0;
  width: 16px;
  height: 32px;
  overflow: hidden;
}

.slider__button svg {
  width: 100%;
  height: auto;
  fill: none;
}

.slider__button--prev {
  left: 0;
  transform-origin: 0 0;
  transform: rotate(-180deg) translateY(-50%) translateX(-100%);
}

.slider__button--next {
  right: 0;
}
