@import "../../node_modules/normalize.css/normalize";

@import "./vars.scss";
@import "./fonts";
@import "./settings";
@import "./visually-hidden";
@import "./components/ui";
@import "./components/about";
@import "./effects";
@import "./components/logo";
@import "./components/call";
@import "./components/header";
@import "./components/gym";
@import "./components/_membership";
@import "./components/announcement";
@import "./components/advantages";
@import "./components/promo";
@import "./components/promo-card";
@import "./components/promo-accidental-card";
@import "./components/reviews";
@import "./components/review-card";
@import "./components/contacts";
@import "./components/footer";
@import "./components/site-nav";
@import "./components/socials";
@import "./components/social-list";

.layout {
  font: normal 300 16px/1.5 $main-font;
}
.container {
  max-width: 1160px;
  margin: 0 auto;

  @media (max-width: 1365px) {
    margin: 0 45px;
  }

  @media (max-width: 720px) {
    margin: 0 15px;
  }
}

.contacts__blocks {
  display: flex;
  flex-flow: row wrap;
}

.contacts__block {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 70px 0;
  align-items: center;
}
