@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-vars.scss';
@import '../../node_modules/swiper/swiper.scss';
@import './vars.scss';
@import './fonts';
@import './settings';
@import './visually-hidden';
@import './components/ui';
@import './components/about';
@import './effects';
@import './components/logo';
@import './components/call';
@import './components/header';
@import './components/gym';
@import './components/_membership';
@import './components/announcement';
@import './components/advantages';
@import './components/promo';
@import './components/promo-card';
@import './components/promo-accidental-card';
@import './components/instructors';
@import './components/reviews';
@import './components/review-card';
@import './components/free-training';
@import './components/contacts';
@import './components/footer';
@import './components/site-nav';
@import './components/social-list';

.layout {
  min-height: 100vh;
  width: 100vw;
  font: normal 300 16px/1.5 $main-font;
}

.container {
  max-width: 1160px;
  margin: 0 auto;

  @media (max-width: 1365px) {
    margin: 0 45px;
  }

  @media (max-width: 720px) {
    margin: 0 15px;
  }
}

.desktop-only {
  @media (min-width: 1366px) {
    display: none;
  }
}

.contacts__blocks {
  display: flex;
  flex-flow: row wrap;
}

.contacts__block {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 70px 15px;
  align-items: center;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.contacts__block--dark {
  background: #102654;
  color: $negative-color;
}
