// fonts
$main-font: "Roboto Condensed", serif;
$accidental-font: "Bebas Neue", sans-serif;

// colors
$main-color: #102654;
$negative-color: #ffffff;
$color-blue-1: #003d85;
$color-red-1: #b80027;

// breakpoints
$desktop: 1365px;
$tablet: 767px;
$mobile: 319px;
