// list
.about-social-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

// item
.about-social-list__item {
  &:not(:last-child) {
    margin: 0 0 24px 0;
  }
}

// icon
.about-social-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-social-list__icon svg {
  width: 100%;
  height: 100%;
}

// fb
.about-social-list__icon--fb {
  width: 13px;
  height: 9px;
}

//vk
.about-social-list__icon--vk {
  width: 14px;
  height: 9px;
}

//ig
.about-social-list__icon--ig {
  width: 11px;
  height: 9px;
}
