//section
.advantages {
  background: $color-grey-1;
}

// container
.advantages__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//title
.advantages__title {
  align-self: center;
  margin: 0 0 68px 0;

  @media ($viewport-12) {
    margin: 0 0 54px 0;
  }

  @media ($viewport-7) {
    margin: 0 0 44px 0;
  }
}
