// section
.announcement {
  width: 100%;
}

// container
.announcement__container {
  display: flex;

  @media ($viewport-5) {
    flex-direction: column;
    align-items: center;
  }
}

// content
.announcement__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 85px 76px;
  color: $negative-color;
  background: $color-red-2;

  @media ($viewport-13) {
    padding: calc(87 * 100vw / 1366) calc(77 * 100vw / 1366);
  }

  @media ($viewport-12) {
    padding: 49px 43px;
  }

  @media ($viewport-7) {
    width: 386px;
  }

  @media ($viewport-5) {
    width: 100%;
    max-width: 386px;
    height: 292px;
  }
}

//title container
.announcement__title-container {
  margin: 3px 0 3px 2px;

  @media ($viewport-12) {
    margin: 2px 0 -2px 2px;
  }
}

// title
.announcement__title {
  margin: 0;
  font: normal 700 90px/1 $accidental-font;
  letter-spacing: 0.03em;

  @media ($viewport-13) {
    font: normal 700 calc(90 * 100vw / 1366) / 1 $accidental-font;
  }

  @media ($viewport-12) {
    font: normal 700 52px/1 $accidental-font;
  }
}

// date
.announcement__date {
  width: 95px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: normal 400 40px/1 $main-font;
  letter-spacing: 0;

  @media ($viewport-13) {
    width: 58px;
    font: normal 400 24px/1 $main-font;
  }
}

// date name
.announcement__date-name {
  position: relative;
  margin: -3px 0 0 0;
  padding: 0 0 9px 0;
  font: normal 400 18px/1 $main-font;

  @media ($viewport-12) {
    padding: 2px 0 4px 0;
    font: normal 400 12px/1 $main-font;
  }
}

// date value
.announcement__date-value {
  position: relative;
  margin: 0;
  padding: 6px 0 0 0;

  @media ($viewport-12) {
    padding: 4px 0 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: $negative-color;
    z-index: 1;
  }
}

.announcement__date-value--date {
  display: flex;
  flex-wrap: wrap;
}

.announcement__date-value--date p {
  margin: 0;
  padding: 0 0 0 8px;
  font: normal 400 14px/1.4 $main-font;
  letter-spacing: 0;

  @media ($viewport-13) {
    padding: 0 0 0 4px;
    font: normal 400 10px/1.4 $main-font;
    line-height: 1.2;
  }
}

// text
.announcement__text {
  width: 100%;
  font: normal 400 18px/1.5 $main-font;
  margin: 0 0 0 2px;

  @media ($viewport-13) {
    font: normal 400 12px/1.5 $main-font;
  }
}

.announcement__text p {
  margin: 0;
}

// button
.announcement__button {
  align-self: flex-end;
  width: 100%;
  height: 71px;
  margin: auto 0 0 0;

  @media ($viewport-13) {
    height: 41px;
    font: normal 700 10px/1 $main-font;
    border-width: 2px;
  }
}

// image
.announcement__image {
  width: 660px;
  height: 500px;
  overflow: hidden;

  @media ($viewport-13) {
    width: calc(660 * 100vw / 1366);
    min-width: 386px;
    height: calc(500 * 100vw / 1366);
    min-height: 292px;
  }

  @media ($viewport-7) {
    min-width: auto;
    max-width: 386px;
  }

  @media ($viewport-5) {
    width: 100%;
    min-width: 290px;
    height: 292px;
    min-height: auto;
  }
}

.announcement__image img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
