.announcement {
  width: 100%;
}

.announcement__container {
  display: flex;

  @media ($viewport-5) {
    flex-direction: column;
    align-items: center;
  }
}

.announcement__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 87px 77px;
  color: $negative-color;
  background: $color-red-2;

  @media ($viewport-13) {
    padding: calc(87 * 100vw / 1366) calc(77 * 100vw / 1366);
  }

  @media ($viewport-12) {
    padding: 51px 45px;
  }

  @media ($viewport-7) {
    width: 386px;
  }

  @media ($viewport-5) {
    width: 100%;
    max-width: 386px;
    height: 292px;
  }
}

.announcement__title {
  margin: 0;
  font: normal 700 90px/1 $accidental-font;
  letter-spacing: 0.03em;

  @media ($viewport-13) {
    font: normal 700 calc(90 * 100vw / 1366) / 1 $accidental-font;
  }

  @media ($viewport-7) {
    font: normal 700 52px/1 $accidental-font;
  }
}

.announcement-title__inner-container {
  margin: 0 0 3px 0;
}

.inner-container {
  display: flex;
  flex-direction: column;
}

.inner-container__row {
  display: flex;
  justify-content: space-between;
}

.announcement__date,
.announcement__time {
  width: 94px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: normal 400 40px/1 $main-font;

  @media ($viewport-13) {
    width: 56px;
    font-size: 24px;
  }
}

.announcement__date-name {
  position: relative;
  margin: -1px 0 0 0;
  padding: 0 0 9px 0;
  font-size: 18px;

  @media ($viewport-13) {
    padding: 0 0 4px 0;
    font-size: 12px;
  }
}

.announcement__date-value {
  position: relative;
  margin: 0;
  padding: 4px 0 0 0;

  @media ($viewport-13) {
    padding: 8px 0 0 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: $negative-color;
    z-index: 1;
  }
}

.announcement__date-value--date {
  display: flex;
  flex-wrap: wrap;
}

.announcement__date-value--date p {
  margin: 0;
  padding: 0 0 0 8px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0;

  @media ($viewport-13) {
    font-size: 10px;
    line-height: 1.2;
  }
}

.date-container {
  display: flex;
  flex-direction: column;
}

.announcement__text {
  width: 100%;
  font: normal 400 18px/1.5 $main-font;

  @media ($viewport-13) {
    font-size: 12px;
  }
}

.announcement__text p {
  margin: 0;
}

.announcement__button {
  align-self: flex-end;
  width: 100%;
  height: 69px;
  margin: auto 0 0 0;

  @media ($viewport-13) {
    height: 39px;
    font-size: 10px;
    border-width: 2px;
  }
}

.announcement__image {
  width: 660px;
  height: 500px;
  overflow: hidden;

  @media ($viewport-13) {
    width: calc(660 * 100vw / 1366);
    min-width: 386px;
    height: calc(500 * 100vw / 1366);
    min-height: 292px;
  }

  @media ($viewport-7) {
    min-width: auto;
    max-width: 386px;
  }

  @media ($viewport-5) {
    width: 100%;
    min-width: 290px;
    height: 292px;
    min-height: auto;
  }
}

.announcement__image img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
