.contacts-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 70px 0;

  @media ($viewport-12) {
    width: 100%;
  }
}

.contacts-section--dark {
  background: $main-color;
  color: $negative-color;
}

.contacts-section--light {
  background: $color-white;
  color: $main-color;
  border-top: 1px solid $main-color;
}
