.free-training {
  width: 413px;

  @media ($viewport-12) {
    width: 500px;
    padding: 0 25px 0 0;
  }

  @media ($viewport-5) {
    width: 100%;
    padding: 0 15px;
  }
}

.free-training__title {
  margin: 0 0 37px 0;
  color: $negative-color;

  @media ($viewport-12) {
    margin: 0 0 31px 0;
  }

  @media ($viewport-7) {
    margin: 0 0 33px 0;
  }
}

.free-training__title h2 {
  color: inherit;
}

.free-training__sign-up {
  margin: 0;
}

.free-training__submit {
  width: 100%;
  height: 55px;
  font: normal 700 14px/1 $main-font;
  letter-spacing: 0.05em;
  border: 3px solid $negative-color;
}
