.gym__container {
  position: relative;
  display: flex;
  padding: 120px 0;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.gym__text {
  margin: 0 85px 0 0;
  @media (max-width: 768px) {
    margin: 0;
  }
}

.gym__video {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 320px) {
    position: static;
  }
}
