.gym {
  max-width: 1160px;
  margin: 0 auto;

  @media ($viewport-13) {
    margin: 0 calc(103 * 100vw / 1366);
  }

  @media ($viewport-12) {
    max-width: 678px;
    margin: 0 auto;
    padding: 100px 0;
  }

  @media ($viewport-7) {
    margin: 0 calc(45 * 100vw / 768);
  }

  @media ($viewport-5) {
    max-width: 100%;
    margin: 0;
  }
}

// inner
.gym__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 115px 0;
  overflow: hidden;

  @media ($viewport-13) {
    padding: 0 0 calc(115 * 100vw / 1366) 0;
  }

  @media ($viewport-12) {
    flex-direction: column;
    align-items: center;
    padding: 0 0 83px 0;
  }

  @media ($viewport-7) {
    padding: 0 0 calc(83 * 100vw / 768) 0;
  }

  @media ($viewport-5) {
    padding: 0;
  }
}

// content
.gym__content {
  width: 38%;
  margin: 49px 85px 0 60px;

  @media ($viewport-13) {
    margin: calc(49 * 100vw / 1366) calc(85 * 100vw / 1366) 0 calc(60 * 100vw / 1366);
  }

  @media ($viewport-12) {
    width: 100%;
    max-width: 502px;
    margin: 0 0 43px 0;
    text-align: center;
  }

  @media ($viewport-5) {
    width: 100%;
    max-width: 320px;
    margin: 0 0 33px 0;
    padding: 0 15px;
    text-align: left;
  }
}

// title
.gym__title {
  margin: 0 0 11px 0;

  @media ($viewport-5) {
    margin: 0 0 9px 0;
  }
}

// lead
.gym__lead {
  margin: 0 0 44px 0;

  @media ($viewport-12) {
    margin: 0 0 40px 0;
  }

  @media ($viewport-5) {
    margin: 0 0 29px 0;
  }
}

.gym__lead p {
  margin: 0;
  font: normal 400 18px/1 $main-font;
  letter-spacing: 0;
  color: $main-color;
}

// text

.gym__text p {
  margin: 0;

  &:not(:first-child) {
    margin: 8px 0 0 0;

    @media ($viewport-12) {
      display: none;
    }
  }
}

// media
.gym__media {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 660px;
  height: 401px;

  @media ($viewport-13) {
    width: calc(660 * 100vw / 1366);
    max-width: 660px;
    height: calc(401 * 100vw / 1366);
    max-height: 401px;
  }

  @media ($viewport-12) {
    width: 678px;
    max-width: none;
    height: 345px;
    max-height: none;
  }

  @media ($viewport-7) {
    width: calc(678 * 100vw / 768);
    max-width: 678px;
    height: calc(345 * 100vw / 768);
    max-height: 345px;
  }

  @media ($viewport-5) {
    width: 320px;
    max-width: none;
    height: auto;
    max-height: none;
  }
}

//image
.gym__image {
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media ($viewport-5) {
    height: 313px;
    margin: 0 0 40px 0;
  }
}

.gym__image img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

//video
.gym__video {
  position: absolute;
  left: -63px;
  bottom: -115px;
  width: 364px;
  height: 228px;
  overflow: hidden;

  @media ($viewport-13) {
    left: calc(-1 * 63 * 100vw / 1366);
    bottom: calc(-1 * 115 * 100vw / 1366);
    width: calc(364 * 100vw / 1366);
    height: calc(228 * 100vw / 1366);
  }

  @media ($viewport-12) {
    left: 50%;
    bottom: 0;
    width: 266px;
    height: 167px;
    transform: translateX(-50%) translateY(50%);
  }

  @media ($viewport-7) {
    width: calc(266 * 100vw / 768);
    height: calc(167 * 100vw / 768);
  }

  @media ($viewport-5) {
    position: static;
    width: 320px;
    height: 167px;
    transform: translateX(0) translateY(0);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-blue-6;
  }
}

.gym__video img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gym-video__icon {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 100px;
  height: 100px;
  transform: translateX(-50%) translateY(50%);

  @media ($viewport-13) {
    width: 0 0 calc(100 * 100vw / 1366) 0;
    height: 0 0 calc(100 * 100vw / 1366) 0;
  }

  @media ($viewport-12) {
    width: 73px;
    height: 73px;
  }
}

.gym-video__icon svg {
  width: 100%;
  height: 100%;
}
