// inner container
.inner-container {
  display: flex;
  flex-direction: column;
}

.inner-container__row {
  display: flex;
}

.inner-container__row--align-space-between {
  justify-content: space-between;
}

.inner-container__row--align-right {
  justify-content: flex-end;
}
