.instructors-slider {
  position: relative;
  display: flex;
  width: calc(100% - 94px);
  max-width: 1272px;
  padding: 0 56px;

  @media ($viewport-12) {
    width: calc(100% - 90px);
  }

  @media ($viewport-7) {
    justify-content: center;
    width: 290px;
    padding: 0 32px;
  }
}
