// container
.instructors__container {
  display: flex;
  flex-direction: column;
}

// title
.instructors__title {
  width: 1160px;
  margin: 0 auto 50px auto;

  @media ($viewport-13) {
    width: 100%;
    margin: 0 45px 50px 45px;
  }

  @media ($viewport-12) {
    align-self: center;
    width: auto;
    margin: 0 0 39px 0;
  }

  @media ($viewport-7) {
    margin: 0 0 42px 0;
  }
}

// slider
.instructors__slider {
  margin: 0 auto;
}
