// container
.instructors__container {
  display: flex;
  flex-direction: column;
}

// title-container
.instructors__title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 50px 0;

  @media ($viewport-13) {
    width: auto;
    align-items: center;
  }

  @media ($viewport-12) {
    padding: 0 0 39px 0;
  }

  @media ($viewport-7) {
    padding: 0 0 42px 0;
  }
}

.instructors__title {
  margin: 0 0 0 2px;

  @media ($viewport-12) {
    margin: 1px 0 0 0;
  }

  @media ($viewport-5) {
    margin: 0;
  }
}

// slider
.instructors__slider {
  margin: 0 auto;
}
