.logo {
  width: 89px;
  height: 20px;

  @media ($viewport-12) {
    width: 89px;
    height: 18px;
  }

  @media ($viewport-7) {
    width: 68px;
    height: 15px;
  }
}

.logo svg {
  width: 100%;
  height: 100%;
}
