.membership {
  background: #f8f9fc;
}
.membership__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 120px 0;
}

.membership__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.membership__title {
  align-self: center;
  margin: 0 0 50px 0;
}

.membership-card {
  box-sizing: border-box;
  display: flex;
  padding: 68px 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 360px;
  height: 450px;
  color: $main-color;
}

.membership-card__name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.membership-card__name {
  margin: 0 0 22px 0;
  padding: 0;
  font: normal 700 1.625rem/1 $main-font;
}

.membership-card__details p {
  padding: 0;
  font: normal 300 1rem/1.5 $main-font;
  text-align: center;
}

.membership-card__price {
  position: relative;
  padding: 0 0 10px 0;
}

.membership-card__price-shadow p {
  margin: 0;
  padding: 0;
  font: normal 700 6.25rem/1 $main-font;
  text-align: center;
  color: #e8e8e8;
}

.membership-card__price-value p {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font: normal 700 4rem/1 $main-font;
  text-align: center;
  color: #103aae;
}

.membership__tab-list {
  position: relative;
  list-style: none;
  align-self: center;
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  width: 340px;
  justify-content: space-between;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
  }
}

.membership__tab-item {
  font: normal 400 1.25rem/1 $main-font;
  color: $main-color;
  padding: 20px 0;
}

.membership__tab-item--active {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 2px;
    background-color: #d10a42;
  }
}
