.membership {
  background: $color-grey-1;
}

.membership__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

// title
.membership__title {
  align-self: center;
  margin: 0 0 38px 0;

  @media ($viewport-12) {
    margin-bottom: 34px;
  }

  @media ($viewport-5) {
    margin-bottom: 24px;
  }
}

.membership__list {
  display: none;

  @media ($viewport-12) {
    flex-direction: column;
    align-items: center;
  }
}

.membership__list--active {
  display: flex;
}

.membership__item {
  &:not(:last-child) {
    margin: 0 40px 0 0;

    @media ($viewport-12) {
      margin: 0 0 40px 0;
    }

    @media ($viewport-5) {
      margin: 0 0 35px 0;
    }
  }
}

.membership__tab-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 340px;
  margin: 0 0 37px 0;
  padding: 0;

  @media ($viewport-12) {
    margin-bottom: 41px;
  }

  @media ($viewport-5) {
    margin-bottom: 34px;
  }

  @media (max-width: 320px) {
    width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $color-grey-5;
  }
}

.membership__tab-item {
  padding: 0 0 19px 0;
  font: normal 400 20px/1 $main-font;
  color: $main-color;

  @media ($viewport-12) {
    font-size: 18px;
  }

  @media ($viewport-5) {
    font-size: 16px;
  }
}

.membership__tab-item--active {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $color-red-4;
  }
}
