//card
.promo-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 211px;
  padding: 24px 28px 26px 28px;
  color: $main-color;
  background: $color-white;
  border: 7px solid;
  border-image: linear-gradient(to right bottom, $color-red-2, $color-blue-3) 1;
  overflow: hidden;

  @media ($viewport-7) {
    padding: 35px 40px;
    align-items: center;
  }
}

// title
.promo-card__title h3 {
  margin: 0 0 10px 0;
  font: normal 700 26px/1 $main-font;
}

// text
.promo-card__text p {
  margin: 0 auto;
  font: normal 400 16px/1.4 $main-font;
  letter-spacing: 0;

  @media ($viewport-7) {
    max-width: 159px;
    text-align: center;
  }
}

//link
.promo-card__link {
  margin: auto 0 0 0;
}

.promo-card__link a {
  position: relative;
  margin: 0;
  padding: 0 0 2px 0;
  font: normal 700 12px/1 $main-font;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    content: "";
    background: $main-color;
  }
}
