// container
.promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// title
.promo__title {
  margin: 0 0 50px 0;

  @media ($viewport-12) {
    margin: 0 0 38px 0;
  }
}
