// card
.promo-accidental-card {
  width: 100%;
  display: flex;
  color: $negative-color;
  overflow: hidden;

  @media ($viewport-7) {
    flex-direction: column;
  }
}

// content
.promo-accidental-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 42px 44px;
  background: $color-red-2;

  @media ($viewport-7) {
    align-items: center;
    min-height: 301px;
  }
}

// period
.promo-accidental-card__period {
  font: normal 700 28px/1 $main-font;
}

//price
.promo-accidental-card__price {
  font: normal 700 70px/1 $main-font;
}

//text
.promo-accidental-card__text {
  @media ($viewport-7) {
    text-align: center;
  }
}

.promo-accidental-card__text p {
  margin: 0;
  font: normal 400 18px/1.4 $main-font;
  letter-spacing: 0;
}

//link
.promo-accidental-card__link {
  margin: auto 0 0 0;
}

.promo-accidental-card__link a {
  position: relative;
  margin: 0;
  padding: 0 0 6px 0;
  font: normal 700 14px/1 $main-font;
  text-transform: uppercase;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $negative-color;
  }
}

// image
.promo-accidental-card__image {
  flex-shrink: 0;
  width: 280px;
  height: 462px;
  object-fit: cover;
  overflow: hidden;

  @media ($viewport-12) {
    width: 399px;
  }

  @media ($viewport-7) {
    width: 100%;
    height: 299px;
  }
}

.promo-accidental-card__image img {
  height: 100%;
  width: auto;

  @media ($viewport-12) {
    width: 100%;
    height: auto;
  }
}
