.promo-accidental-card {
  display: flex;
  color: $negative-color;
}

.promo-accidental-card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #ed0233;
  padding: 45px;
}

.promo-accidental-card__period {
  font: normal 700 28px/1 $main-font;
}

.promo-accidental-card__period p {
  margin: 0 0 20px 0;
  padding: 0;
}

.promo-accidental-card__price {
  font: normal 700 70px/1 $main-font;
}

.promo-accidental-card__price p {
  margin: 0;
  padding: 0;
}

.promo-accidental-card__text {
  font: normal 400 18px/1.4 $main-font;
  letter-spacing: 0;
}

.promo-accidental-card__link {
  margin: auto 0 0 0;
}

.promo-accidental-card__link a {
  position: relative;
  margin: 0;
  padding: 0 0 6px 0;
  font: normal 700 14px/1 $main-font;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $negative-color;
  }
}
