.promo-accidental-card {
  width: 100%;
  display: flex;
  color: $negative-color;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

// content

.promo-accidental-card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  background: $color-red-2;
  padding: 45px;

  @media (max-width: $tablet) {
    width: 100%;
  }
}

.promo-accidental-card__period {
  font: normal 700 28px/1 $main-font;
}

.promo-accidental-card__period p {
  margin: 0 0 20px 0;
  padding: 0;
}

.promo-accidental-card__price {
  font: normal 700 70px/1 $main-font;
}

.promo-accidental-card__price p {
  margin: 0;
  padding: 0;
}

.promo-accidental-card__text {
  font: normal 400 18px/1.4 $main-font;
  letter-spacing: 0;
}

.promo-accidental-card__link {
  margin: auto 0 0 0;
}

.promo-accidental-card__link a {
  position: relative;
  margin: 0;
  padding: 0 0 6px 0;
  font: normal 700 14px/1 $main-font;
  text-transform: uppercase;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $negative-color;
  }
}

// image

.promo-accidental-card__image {
  flex-shrink: 0;
  width: 280px;
  height: 462px;
  object-fit: cover;
  overflow: hidden;

  @media (max-width: $desktop) {
    width: 399px;
  }

  @media (max-width: $tablet) {
    width: 100%;
    height: 299px;
  }
}

.promo-accidental-card__image img {
  height: 100%;
  width: auto;

  @media (max-width: $desktop) {
    width: 100%;
    height: auto;
  }
}
