.reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 120px 0;

  @media (max-width: $desktop) {
    padding: 0 0 100px 0;
  }
}

.reviews__title {
  margin: 0 0 50px 0;

  @media (max-width: $desktop) {
    margin: 0 0 40px 0;
  }
}

.reviews-slider__wrapper {
  position: relative;
  display: flex;
  width: 672px;
  padding: 0 56px;
  margin: 0 auto;

  @media (max-width: $tablet) {
    width: 290px;
    flex-direction: column;
    padding: 0 25px;
  }
}

.swiper-container {
  width: 100%;
  box-sizing: border-box;
}
