.site-nav {
  font: normal 400 14px/1 $main-font;
  color: $negative-color;

  @media ($viewport-7) {
    width: 100%;
    flex-direction: column;
  }
}

.site-nav__blocks {
  width: 100%;
  display: flex;
}
