.social-icons {
  display: flex;
  align-items: center;
  margin: 0 -25px 0 0;
  padding: 0;
  list-style: none;

  @media ($viewport-12) {
    margin: 0 -20px 0 0;
  }

  @media ($viewport-7) {
    margin: 40px 0 -8px 0;
  }
}

.social-icons__icon {
  margin: 0 25px 0 0;

  @media ($viewport-12) {
    margin: 0 20px 0 0;
  }

  @media ($viewport-7) {
    margin: 0 40px 0 0;
  }
}
