.button {
  width: 230px;
  font: 700 1rem/1 "Roboto Condensed", sans-serif;
  display: block;
  padding: 1.5rem;
  color: $negative-color;
  background: 0 0;
  border: 4px solid $negative-color;
  appearance: none;
  cursor: pointer;
  transition: 0.25s;
  outline: 0;
  text-decoration: none;
  text-align: center;

  &:hover {
    opacity: 0.25;
    transition: 0.25s;
  }
}
